img{
    width: 150px;
    height: 150px;
}
td{
    padding-right: 175px;
}
hr{
    margin-left: 155px;
    margin-right: 175px;
}
.h2{
    margin-right: 185px;
}
.h21{
    margin-right: 900px;
}
.B{
    margin-right: 900px;
}
